POSTGRES_USER="default"
POSTGRES_HOST="localhost"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"
POSTGRES_PORT="5432"
POSTGRES_SSLMODE="disable"

HTTP_PORT="8000"
HTTP_HOSTNAME="localhost"
HTTP_READ_TIMEOUT="5s"
HTTP_WRITE_TIMEOUT="10s"
HTTP_IDLE_TIMEOUT="2m"
HTTP_ALLOWED_ORIGINS="http://localhost:8000/,http://localhost:3000/,http://localhost:8000,http://localhost:3000,*"
HTTP_ALLOWED_METHODS="GET,POST,PUT,DELETE,OPTIONS"
HTTP_ALLOWED_HEADERS="*"
HTTP_EXPOSED_HEADERS="next-cursor"
HTTP_ALLOWED_CREDENTIALS="true"


APP_TIMEOUT="10s"
APP_NAME="bazaar-backend"
APP_BACKEND_URL="http://localhost:8000"
APP_FRONTEND_URL="http://localhost:3000"

JWKS_URI="https://www.googleapis.com/oauth2/v3/certs"

PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----"

PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----"
JWT_DEV_KEY_FILE=".dev/jwt-dev.pem"

SMTP_PASSWORD="aaaa bbbb cccc dddd"
SMTP_SKIP_SEND="true"

ETH_URL="wss://eth-sepolia.g.alchemy.com/v2/xxxxx"
CONTRACT_ADDRESS="0x"

SPACES_KEY=""
SPACES_SECRET=""
SPACES_NAME="bucket-for-bazaar"
SPACES_ENDPOINT="https://fra1.digitaloceanspaces.com"
SPACES_CDN_BASE="https://bucket-for-bazaar.fra1.cdn.digitaloceanspaces.com"
SPACES_REGION="us-east-1"
STORAGE_DRIVER="local"
LOCAL_UPLOAD_DIR="uploads"


# Algolia search
ALGOLIA_APP_ID=
ALGOLIA_WRITE_KEY=
ALGOLIA_SEARCH_KEY=
ALGOLIA_PRODUCTS_INDEX=products
ALGOLIA_SEED_ON_STARTUP=false
